@charset "utf-8";
/* CSS Document */

body{font:12px  "微软雅黑"; word-wrap:break-word;width:100%;height:100%;margin: 0;padding:0;}
h1, h2, h3, h4, h5, h6, ul, ul li, ol li, dl, dt, dd, form, img, p, form, strong, input, i, em {margin: 0;padding: 0;border: none;list-style-type: none;font-family: "微软雅黑";}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0 {border:0;}
a:hover{color:#fb1116; }
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;}
table{border-collapse:collapse;}
.ind2{text-indent:2em;}
.wh{width:1200px;margin:0 auto;}
.pr{position: relative;}
.over{
		white-space:nowrap;/*强制不换行*/
		overflow:hidden;/*溢出隐藏*/
		text-overflow:ellipsis;/*溢出隐藏时出现省略号*/
}

.vertical{text-align:center;}/*垂直居中对齐*/
.vertical img{vertical-align:middle;}
.vertical:after{content:"";display:inline-block;height:100%;vertical-align:middle;}


.clear:after{content:"";display:block;clear:both;}/*解决高度塌陷*/